
@{
    ViewData["Title"] = "RegisterCar";
}
<h2>Cadastrar Carro</h2>
<input type="text" id="placa" placeholder="Placa do Carro" />
<input type="text" id="modelo" placeholder="Modelo Carro" />
<input type="text" id="marca" placeholder="Marca do Carro" />
<input type="text" id="cpf" placeholder="CPF Proprietário" />
<button type="submit" id="regCarBTN">Cadastrar</button>

@section Scripts{
    <script src="~/js/CriarCarro.js"></script>
}