
@{
    ViewData["Title"] = "Register";
}

<h2>Cadastrar Pessoa</h2>

<form method="post">
    <input type="text" id="cpf" name="cpf" placeholder="CPF" />
    <input type="text" id="nome" name="nome" placeholder="Nome" />
    <button type="submit" id="CadPessoaBTN">Cadastrar</button>
</form>


@section Scripts{
    <script src="~/js/CriarPessoa.js"></script>
}